
<div class="container content" >
	<div class="row">
		<!-- Pricing -->
		<div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Personal</h3>
					<h4><i>Free</i>
					<span>
					Forever </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						1 staff member
					</li>
					<li>
						1 location
					</li>
					<li>
						50 appointments/month
					</li>
					<li>
						Email reminders
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 Suitable for Sole Propietorship
					</p>					
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing pricing-active hover-effect">
				<div class="pricing-head  pricing-head-active">
					<h3>Business</h3>
					<h4><i>$</i>20<i>.00</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						1-10 staff members
					</li>
					<li>
						1 location
					</li>
					<li>
						Unlimited appointments
					</li>
					<li>
						Email & SMS reminders
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 Suitable for single location businesses.
					</p>
					
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Business XL</h3>
					<h4><i>$</i>50<i>.00</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						11-50 staff members
					</li>
					<li>
						Up to 5 locations
					</li>
					<li>
						Unlimited appointments
					</li>
					<li>
						Email & SMS reminders
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Suitable for multi-location businesses.
					</p>
				</div>
			</div>
		</div>
		<!--//End Pricing -->
	</div>
</div>